h1, h2 {
    text-align: left;
    position: relative;
    left: 300px;
    top: 200px;
  
}
 body{
     background-color: darksalmon;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
 }
 .profile{
     float: left;
     margin-left: auto;
     margin-right: auto;
     height: 200px;
     width: 200px;
     border-radius: 50%;
 }

